@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Open+Sans&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
}

header{
   background-image: url(../img/jumbo.png);
   background-size: cover;
}

section{
   padding: 150px 0;
}

li{
   list-style: none;
   font-size: 1.2rem;
   line-height: 40px;
}

.flex{
   display: flex;
   flex-direction: row;
}

.flex-footer-1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1px solid #7289DA;
   padding-bottom: 40px;
}

.flex-footer-2{
   display: flex;
   justify-content: space-between;
}

.images-container.inverted{
   order: 2;
}

.top-menu{
   width: 80%;
   margin: auto;
}

.logo img{
   align-items: center;
   justify-content: center;
   width: 200px;
}

.menu{
   width: 40%;
   margin: auto;
}

.list-menu{
   justify-content: space-between;
   align-items: center;
   color: #FFF;
   
}

.button-container{
   width: 150px;
   align-items: center;
   justify-content: center;
}

.button{
   border: none;
   border-radius: 40px;
   font-size: 1.5rem;
   padding: 20px 30px;
   margin: 30px 3px;
}

.login{
   background-color: #FFF;
   font-size: 1.2rem;
   padding: 12px 15px;
}

.ds-web{
   background-color: #23272A;
   color: white;
}

.download{
   background-color: #FFFFFF;
}

.download::before{
   content: "\2193";
   margin-right: 10px;
}

.download, .ds-web{
   margin: 40px 20px;
}

.container-1{
   width: 40%;
   margin: auto;
   text-align: center;
   color: #FFF;
   line-height: 28px;
   font-size: 1.5rem;
   padding: 170px 0px;
}

.container-1 h1{
   margin-bottom: 80px;
   font-size: 3.5rem;
   font-weight: 700;
}

.container-section{
   width: 70%;
   margin: auto;
   justify-content: space-between;
}

/* IMMAGINI */

.images-container{
   flex-basis: 60%;
   height: 800px;
   background-size: 878px 640px;
   background-repeat: no-repeat;
}

.image-1{
   background-image: url(../img/item1.svg);
}

.image-2{
   background-image: url(../img/item2.svg);
}

.image-3{
   background-image: url(../img/item3.svg);
}

.image-4{
   background-image: url(../img/item4-big.svg);
   background-position: center;
   background-size: cover;
   margin: 50px 0px;
}

.text{
   flex-basis:30%;
   padding: 40px 20px;
}

.text h2{
   font-size: 4rem;
   margin-bottom: 25px;
}

.text p{
   font-size: 1.5rem;
   line-height: 40px;
}

.section-4 div{
   text-align: center;
}

.subtitle-button{
   text-align: center;
   font-size: 1.7rem;
   margin-top: 160px;
}

.subtitle-button h3{
   padding-top: 100px;
   background-image: url(../img/stars.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.subtitle-button button{
   background-color: #8EA1E1;
   color: white;
}

.social{
   background-color: #23272A;
   width: 300px;
}

.social h3{
   font-size: 2rem;
   color: #7289DA;
   margin-bottom: 20px;
}

.social img{
   image-resolution: 23.33px 15.66px;
}

.section-5 ul{
   flex-basis: 10%;
   color: white;
   background-color: #23272A;
}

.section-5{
   padding: 100px 0 0 0;
   background-color: #23272A;
}

.section-2, .section-4{
   background-color: #5E5E5E;
}

.special{
   color: #7289DA;
}

.section-6{
   padding: 0 0 70px 0;
   background-color: #23272A;
}

.register.button{
   background-color: #8EA1E1;
   color: white;
   font-size: 1.2rem;
   padding: 12px 15px;
}

.flag{
   background-image: url(../img/ita.png);
   background-size: contain;
   width: 35px;
   height: 25px;
}

.current, .current::after{
   content: "\2228";
   margin: 0 10px 0 10px;
   color: white;
}